<!-- FOR CARD PHOTOS -->
<div style="display: flex; flex-direction: row">
  <mat-card class="mat-card count-card">
    <mat-card-title>BEST PHOTO </mat-card-title>
    <mat-card-content>-</mat-card-content>
  </mat-card>
  <mat-card class="mat-card count-card">
    <mat-card-title>FAV PHOTO</mat-card-title>
    <mat-card-content>-</mat-card-content>
  </mat-card>
  <mat-card class="mat-card count-card">
    <mat-card-title>MOST LIKE</mat-card-title>
    <mat-card-content>-</mat-card-content>
  </mat-card>
  <mat-card class="mat-card count-card">
    <mat-card-title>SHARE</mat-card-title>
    <mat-card-content>-</mat-card-content>
  </mat-card>
</div>
<!-- FOR ADD -->
<div class="add-button">
  <button mat-stroked-button (click)="customNavigate('add')">Add</button>
</div>
<!-- FOR TABLE PHOTOS -->
<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title> Listing All Photos </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-table-custom" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox></mat-checkbox>
        </td>
      </ng-container>

      <!-- FETCH TABLE -->
      <ng-container matColumnDef="albumId">
        <th mat-header-cell *matHeaderCellDef>Album Id</th>
        <td mat-cell *matCellDef="let element">{{ element.albumId }}</td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>Url</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>
      <ng-container matColumnDef="thumbnailUrl">
        <th mat-header-cell *matHeaderCellDef>thumbnailUrl</th>
        <td mat-cell *matCellDef="let element">{{ element.thumbnailUrl }}</td>
      </ng-container>
      <!-- ACTION BUTTON -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-button">
          <a [routerLink]="['view', element.id]"
            ><mat-icon>open_in_new</mat-icon></a
          >| <a [routerLink]="['edit', element.id]"><mat-icon>edit</mat-icon></a
          >|
          <a [routerLink]="['delete', element.id]"
            ><mat-icon>delete</mat-icon></a
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 15, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
