.detail-card {
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: left;
    padding: 20px;
  }
  
  .detail-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    width: 100%; 
  }
  
  .inner-card {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    margin-top: 20px; 
  }
  
  .inner-card div {
    margin-bottom: 10px; 
  }
  
  .back-button {
    align-self: flex-start; 
    margin-bottom: 20px; 
  }