<button class="back-button" mat-button routerLink="/photos">
  <mat-icon>arrow_back</mat-icon>
  Back
</button>
<mat-card class="detail-card" appearance="outlined">
  <h3>INFO PHOTO:</h3>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title
        ><span>Album Id: </span>{{ photoDetails.albumId }}</mat-card-title
      >
      <mat-card-subtitle
        ><span>Photo Id: </span>{{ photoDetails.id }}</mat-card-subtitle
      >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="half-width">
    <mat-card class="mat-card">
      <ng-container >
        <div><span>Title :</span>{{ photoDetails.title }}</div>
        <div><span>Url :</span>{{ photoDetails.url }}</div>
        <div><span>Thumbnail Url :</span>{{ photoDetails.thumbnailUrl }}</div>
      </ng-container>
    </mat-card>
  </mat-card-content>
</mat-card>


<div *ngIf="!photoDetails">
    <p>Loading...</p>
  </div>