.main-container {
    display: flex;
    .side-nav {
      width: 350px;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #113c60;
      color: #fff;
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 1300px) {
        width: 100px;
        min-width: 100px;
      }
    }
    .main {
      padding: 30px;
    }
  }

// HEADER .header-spacer {
//   flex: 1 1 auto;
// }
// .header-toolbar {
//   background-color: #ff6600;
//   color: #fffe;
//   .header-title {
//     padding-left: 250px;
//   }
// }

// // SIDEBAR
// .content-container{
//     height: 100%;
//     border:1px solid #ccc;
//     min-height: 100vh;
// }
// .sidebar {
//     background-color: #006699;
//     height: 100%;
//     width: 250px;
// }
